.arrow-follower {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
  border-radius: var(--radius-full);
  background: var(--color-white);
  box-shadow: var(--shadow-md);
  pointer-events: none; /* let mouse events pass through */
  transform: translate3d(-9999px, -9999px, 0);
  transition: opacity var(--duration-fast);
  opacity: 0;
  z-index: 10;
}

.arrow-follower--visible {
  opacity: 1;
}

.arrow-follower__icon {
  width: 32px;
  height: 48px;
  display: block;
  stroke: var(--text-primary);

  [dir='ltr'] & {
    rotate: 180deg;
  }
}
